#
# Development app configuration
#
# COPY me to dev.yml and set APP_KEY
#

STELLAR_NETWORK: testnet

API_URL: 'http://localhost:3000'
CLIENT_URL: 'http://localhost:8080'

APP_STORE: 'store.beta.mobius.network'
APP_KEY: '<Stellar Secret Key for the DApp>'

# charge survey creator (MOBI)
FEE_NEW_SURVEY: '10'

# pay survey completer from the survey creator account (MOBI)
REWARD_COMPLETE_SURVEY: '1'

# recaptcha
RECAPTCHA_SITE_KEY: '6LfPvmUUAAAAAJpfmX0FzuAHbV3reprRes58p1wl'
