#
# Public / Mainnet app configuration
#
# COPY me to public.yml and set APP_KEY
#

NETWORK: 'public'

APP_NAME: 'Survey Rewards'
APP_DOMAIN: 'surveyrewards.network'
APP_STORE: 'store.mobius.network'
APP_KEY: '<Stellar Secret Key for the DApp>'

# charge survey creator (MOBI)
FEE_NEW_SURVEY: 10

# pay survey completer from the survey creator account (MOBI)
REWARD_COMPLETE_SURVEY: 1