#
# Public / Mainnet app configuration
#
# COPY me to public.yml and set APP_KEY
#

STELLAR_NETWORK: 'public'

API_URL: 'https://api-public.surveyrewards.network'
CLIENT_URL: 'https://surveyrewards.network'

APP_STORE: 'store.mobius.network'
APP_KEY: '<Stellar Secret Key for the DApp>'

# charge survey creator (MOBI)
FEE_NEW_SURVEY: '10'

# pay survey completer from the survey creator account (MOBI)
REWARD_COMPLETE_SURVEY: '1'