#
# Testnet app configuration
#
# COPY me to testnet.yml and set APP_KEY
#

STELLAR_NETWORK: 'testnet'

API_URL: 'https://api-testnet.surveyrewards.network'
CLIENT_URL: 'https://testnet.surveyrewards.network'

APP_STORE: 'store.beta.mobius.network'
APP_KEY: '<Stellar Secret Key for the DApp>'

# charge survey creator (MOBI)
FEE_NEW_SURVEY: '10'

# pay survey completer from the survey creator account (MOBI)
REWARD_COMPLETE_SURVEY: '1'